@import "tailwindcss";

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
  
  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body {
  margin: 0;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}



button{
    cursor: pointer;
}





/*Boutton NewTask*/


/*Conteneur principal du projet*/
#root{
border: 1px solid #5d26cc;
border-radius: 10px;
}


/*Header contenant le litre de l'application*/
.AppHeader{
  display: flex;
  justify-content: space-around;
  margin: 10px 0 0 0;
}


/*Contenuer du Boutton d'ajout de tâche*/
.Button {
  /*margin: 100px 160px 50px 0px;*/
  background-color: red;
  justify-content: right;
  display: flex;
}



/*Conteneur des tâches*/
.task-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border: 1px solid #5d26cc;
    color:rgb(7, 7, 7);
}


/*Zone de saisie de la tâche*/
input{
  margin-top:10px;
  border: 1px solid blue;
  border-radius:5px;
  background-color:white;
}


/*Receveur de tâches*/
.task-receiver{
  color:black;
  border: 1px solid black;
  border-radius: 20px;
  background-color:yellow;
  width: 300px;
  height:auto;
  justify-content:center;
}

/*Conteneur des bouttons annuler et valider*/
.button-container{
  justify-content: center;
  display: flex;
  margin:30px 0px 3px 0px  ;  
  gap: 10px;
  
}




